<div class="row status-list">
    <div class="col-sm per-status">
      <a class='sig-links' href="/mainPage/markham/<%= month %>/AllOrders">All Orders</a>
    </div>
    <div class="col-sm per-status">
      <a class='sig-links' href="/mainPage/markham/<%= month %>/Printed">Printed</a>
    </div>
    <div class="col-sm per-status">
      <a class='sig-links' href="/mainPage/markham/<%= month %>/East">East</a>
    </div>
    <div class="col-sm per-status">
      <a class='sig-links' href="/mainPage/markham/<%= month %>/West">West</a>
    </div>
    <div class="col-sm per-status">
      <a class='sig-links' href="/mainPage/markham/<%= month %>/Parts">Parts</a>
    </div>
    <div class="col-sm per-status">
      <a class='sig-links' href="/mainPage/markham/<%= month %>/Quarantine">Quarantine</a>
    </div>
    <div class="col-sm per-status">
      <a class='sig-links' href="/mainPage/markham/<%= month %>/Shipped">Shipped</a>
    </div>
    <div class="col-sm per-status">
      <a class='sig-links' href="/mainPage/markham/<%= month %>/Billed">Billed</a>
    </div>
    <div class="col-sm" style="text-align: center;">
      <a class='sig-links' href="/mainPage/markham/<%= month %>/Invoiced">Invoiced</a>
    </div>
</div>